body {
    font-family: Arial;
    background: #f1f1f1;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.btn {
    display: block;
    padding: 12px;
    margin: 10px 0;
    background: #0d6efd;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}

.btn:hover {
    background: #0b5ed7;
}

.footer {
    width: 100%;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-family: Arial, sans-serif;
    border-radius: 30px 10px 30px 10px;
}

.footer span {
    font-weight: bold;
    color: #00eaff; /* Warna biru neon */
}

.footer .subtext {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}